body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .hero-wrapper {
    background-image: url('../space-background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
  }

  .hero-wrapper-2 {
    background-color: black;
    background-size: cover;
    background-position: center;
    color: black;
  }

  .title-header{
    color: white;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero h1 {
    font-size: 36px;
  }
  
  .content {
    padding: 40px;
  }
  
  .cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 28%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .intro {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 6px;
  }
  